# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Maven/Gradle
target/
build/

# Others
*.swp
*.bak
*.tmp
